{% extends "base.html" %}
{% block content %}

<div>
    <h1>Editar Jogador {{inscrito.jogador}}</h1>
    <form class="form-inline" action="{{ url_for('add_res_jog', id=id, jogador=jogador) }}" method="post">

        <input class="form-control mb-2 mr-sm-2" type="number" name="hcp"
            placeholder="Handicap Atual = {{inscrito.hcp}}" />
        <input class="input-group mb-2 mr-sm-2" type="text" name="b_saida" placeholder="Buraco/Horário de Saída" />
        <input class="form-check mb-2 mr-sm-2" type="text" name="pago" placeholder="Pago?" />
        <input style="width: 40px" type="number" name="b1" placeholder="B1" />
        <input style="width: 40px" type="number" name="b2" placeholder="B2" />
        <input style="width: 40px" type="number" name="b3" placeholder="B3" />
        <input style="width: 40px" type="number" name="b4" placeholder="B4" />
        <input style="width: 40px" type="number" name="b5" placeholder="B5" />
        <input style="width: 40px" type="number" name="b6" placeholder="B6" />
        <input style="width: 40px" type="number" name="b7" placeholder="B7" />
        <input style="width: 40px" type="number" name="b8" placeholder="B8" />
        <input style="width: 40px" type="number" name="b9" placeholder="B9" />

        <input style="width: 40px" type="number" name="b10" placeholder="B10" />
        <input style="width: 40px" type="number" name="b11" placeholder="B11" />
        <input style="width: 40px" type="number" name="b12" placeholder="B12" />
        <input style="width: 40px" type="number" name="b13" placeholder="B13" />
        <input style="width: 40px" type="number" name="b14" placeholder="B14" />
        <input style="width: 40px" type="number" name="b15" placeholder="B15" />
        <input style="width: 40px" type="number" name="b16" placeholder="B16" />
        <input style="width: 40px" type="number" name="b17" placeholder="B17" />
        <input style="width: 40px" type="number" name="b18" placeholder="B18" />
        <input class="form-check-input" type="checkbox" value="desclassificado" name="desclassificado"
            id="desclassificado">
        <label class="form-check-label" for="desclassificado">
            <div>desclassificado</div>
            <button type="submit" href="/torneio/apuracao/{{inscrito.torneio_id}}"
                class="btn btn-primary btn-block btn-large">Cadastrar</button>
    </form>
</div>

{% endblock %}