<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Costão Golf</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gerenciador</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        {% if logged_in: %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Jogadores</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Torneios</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Configurações</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Deslogar</a>
          {% endif %}
          {% if not logged_in: %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        {% endif %}

        </li>
      </ul>


    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>

</html>