{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="title" style="padding: 100px">Bem vindo {{name}}!</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border-light mb-3" style="max-width: 25rem;">
        <div class="card-header">Jogadores</div>

        <a href="/jogadores" class="card-body ">

          <p class="card-text">Cadastre e edite os jogadores do seu clube</p>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card border-light mb-3" style="max-width: 25rem;">
        <div class="card-header">Torneios</div>

        <div class="card-body ">

          <li class="card-text-left"><a href="/criartorneio"> Criação e apuração de torneios</a></li>
          <li><a href="/torneios"> Torneios Anteriores</a></li>


        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light mb-3" style="max-width: 25rem;">
        <div class="card-header">Configurações</div>

        <div class="card-body ">
          <p class="card-text">Altere as configurações do seu clube como tees de saída e categorias</p>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}