{% extends "base.html" %}
{% block content %}
<!-- <div class="container-fluid " style="padding:50px">
  <div class="row" style="padding:50px">
    {% if logged_in %}
    <div onclick="location.href='/criartorneio';" style="cursor: pointer;width: 18rem;padding:20px"
      class="card text-center text-white bg-primary border-dark">
      {%else%}
      <div onclick="location.href='/torneios';" style="cursor: pointer;width: 18rem;padding:20px"
        class="card text-center text-white bg-primary border-dark">
        {% endif %}
        <img src=" /static/img/tr1.png  " class=" card-img-top " alt=" ...">
        <div class="card-body ">

          {% if logged_in %}
          <p class="card-text text-center">Crie um novo torneio ou edite o torneio em andamento</p>
          {%else%}
          <p class="card-text text-center">Veja o Resultado de todas as etapas da Quarta Nobre!</p>
          {% endif %}
        </div>
      </div>
      <div onclick="location.href='/torneio/apuracao/ranking';" class="card text-center text-white bg-info border-dark"
        style="cursor: pointer;width: 18rem;padding:20px">
        <img src=" /static/img/rk1.png " class=" card-img-top " alt=" ...">
        <div class="card-body ">
          <p class="card-text">Acompanhe o Ranking da Quarta Nobre.<br>
            Os primeiros 16 colocados participam do Match Play!</p>
        </div>
      </div>
      {% if logged_in %}
      <div onclick="location.href='/jogadores';" style="cursor: pointer;width: 18rem;padding:20px"
        class="card text-center text-white bg-primary border-dark">
        <img src=" /static/img/pl.png " class=" card-img-top " alt=" ...">
        <div class="card-body ">
          <p class="card-text">Cadastre Jogadores para adicionar aos torneios e atualizar o handicap automaticamente</p>
        </div>
      </div>
      {% endif %}
    </div> -->
<section class="page-section" id="funcionalidades">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Bem Vindo {{name}}!</h2>
      <h3 class="section-subheading text-muted">Selecione uma das opções abaixo
    </div>
    <div class="row text-center">
      <div class="col-md-4" onclick="location.href='/jogadores'" style="cursor:pointer">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-solid fa-person fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Cadastro de Jogadores</h4>
        <p class="text-muted">Adicione Jogadores para atualização automática de Handicap</p>
      </div>
      <div class="col-md-4" onclick="location.href='/torneio/apuracao/ranking'" style="cursor:pointer">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-list-ol fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Ranking</h4>
        <p class="text-muted">Visualizar o Ranking Quarta Nobre
        </p>
      </div>
      <div class="col-md-4" onclick="location.href='/criartorneio'" style="cursor:pointer">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Torneios</h4>
        <p class="text-muted">Crie ou edite Torneios
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}