{% extends "base.html" %}
{% block content %}
<!-- <div class="container-fluid " style="padding:50px">
  <div class="row" style="padding:50px">
    {% if logged_in %}
    <div onclick="location.href='/criartorneio';" style="cursor: pointer;width: 18rem;padding:20px"
      class="card text-center text-white bg-primary border-dark">
      {%else%}
      <div onclick="location.href='/torneios';" style="cursor: pointer;width: 18rem;padding:20px"
        class="card text-center text-white bg-primary border-dark">
        {% endif %}
        <img src=" /static/img/tr1.png  " class=" card-img-top " alt=" ...">
        <div class="card-body ">

          {% if logged_in %}
          <p class="card-text text-center">Crie um novo torneio ou edite o torneio em andamento</p>
          {%else%}
          <p class="card-text text-center">Veja o Resultado de todas as etapas da Quarta Nobre!</p>
          {% endif %}
        </div>
      </div>
      <div onclick="location.href='/torneio/apuracao/ranking';" class="card text-center text-white bg-info border-dark"
        style="cursor: pointer;width: 18rem;padding:20px">
        <img src=" /static/img/rk1.png " class=" card-img-top " alt=" ...">
        <div class="card-body ">
          <p class="card-text">Acompanhe o Ranking da Quarta Nobre.<br>
            Os primeiros 16 colocados participam do Match Play!</p>
        </div>
      </div>
      {% if logged_in %}
      <div onclick="location.href='/jogadores';" style="cursor: pointer;width: 18rem;padding:20px"
        class="card text-center text-white bg-primary border-dark">
        <img src=" /static/img/pl.png " class=" card-img-top " alt=" ...">
        <div class="card-body ">
          <p class="card-text">Cadastre Jogadores para adicionar aos torneios e atualizar o handicap automaticamente</p>
        </div>
      </div>
      {% endif %}
    </div> -->
<section class="page-section bg-light" id="quarta-nobre">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Bem Vindo!</h2>
      <h3 class="section-subheading text-muted">{{name}}</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4" onclick="location.href='/torneios'">
        <!-- quarta-nobre item 1-->
        <div class="quarta-nobre-item">
          <a class="quarta-nobre-link" data-bs-toggle="modal">
            <!-- href=" #quarta-nobreModal1" -->
            <div class="quarta-nobre-hover">
              <div class="quarta-nobre-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img style="size:cover" class="img-fluid" src="static/img/tr1.png" alt="..." />
          </a>
          <div class="quarta-nobre-caption">
            <div class="quarta-nobre-caption-heading">Torneios</div>
            <div class="quarta-nobre-caption-subheading text-muted">Editar torneio em andamento <br> ou criar um novo
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- quarta-nobre item 2-->
        <div class="quarta-nobre-item" onclick="location.href='/torneio/apuracao/ranking'">
          <a class="quarta-nobre-link" data-bs-toggle="modal">
            <div class="quarta-nobre-hover">
              <div class="quarta-nobre-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="static/img/rk1.png" alt="..." />
          </a>
          <div class="quarta-nobre-caption">
            <div class="quarta-nobre-caption-heading">Ranking</div>
            <div class="quarta-nobre-caption-subheading text-muted">Acompanhar Resultado Geral</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- quarta-nobre item 3-->
        <div class="quarta-nobre-item " onclick="location.href='/jogadores'">
          <a class="quarta-nobre-link" data-bs-toggle="modal">
            <div class="quarta-nobre-hover">
              <div class="quarta-nobre-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="static/img/pl.png" alt="..." />
          </a>
          <div class="quarta-nobre-caption">
            <div class="quarta-nobre-caption-heading">Jogadores</div>
            <div class="quarta-nobre-caption-subheading text-muted">Cadastro e edição<br>para atualização automatica
            </div>
          </div>
        </div>
      </div>
      {% endblock %}