{% extends "base.html" %}
{% block content %}


<div class="box_left">

    <div class="jog_cad">
        <h1 style="padding-top:50px">Resultado - {{t.name}} - {{t.date}}</h1>
        {% if t.encerrado == "sim" %}
        <h3>{{t.type}} Finalizada</h3>
        {%else%}
        <h3>{{t.type}} Em andamento</h3>
        {%endif%}}

        <table class="table table-dark table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Posição</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Hcp</th>
                    <th scope="col">v1</th>
                    <th scope="col">v2</th>
                    <th scope="col">gross</th>
                    <th scope="col">net</th>
                    <th scope="col">v2 net</th>
                    <th scope="col">Premiação</th>
                    <th scope="col">Pontos Ranking</th>




                </tr>
            </thead>
            <tbody>
                {% for row in torneio %}
                <tr>
                    <th scope="row">{{loop.index}}º</th>

                    <th scope="row">{{row.jogador}}
                    </th>
                    <th scope="row">{{row.hcp}}</th>

                    <th scope="row">{{row.v1_gross}}</th>
                    <th scope="row">{{row.v2_gross}}</th>


                    <th scope="row">{{row.total_gross}}</th>

                    <th scope="row">{{row.total_net}}</th>
                    <th scope="row">{{row.v2_net}}</th>
                    <th scope="row">{{row.ganhos}}</th>
                    <th scope="row">{{row.pt_rkg}}</th>

                    {% endfor %}
            </tbody>
            </form>
    </div>

</div>


{% endblock %}