{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>{{t.type}} - {{t.name}} - {{t.date}}</h1>
    <div><label for="player">Inscrever Jogador</label>
        <form action="{{ url_for('torneio_atual', id=t.id)}}" method="post">
            <select name="player" id="player" multiple>
                {% for jogador in j %}
                <option value="{{jogador.name}}">{{jogador.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary btn-block btn-large">Cadastrar</button>
        </form>
    </div>

</div>

{% endblock %}