{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="title" style="padding: 100px">Bem vindo {{name}}!</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border-light mb-3" style="max-width: 25rem;">
                <div class="card-header">Criar Torneio</div>

                <a href="/criartorneio" class="card-body ">

                    <p class="card-text">Crie um novo torneio</p>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card border-light mb-3" style="max-width: 25rem;">
                <div class="card-header">Torneios anteriores</div>

                <div class="card-body ">

                    <li class="card-text-left"><a href="/torneio"> Ver torneios salvos</a></li>


                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-light mb-3" style="max-width: 25rem;">
                <div class="card-header">Ranking</div>

                <div class="card-body ">
                    <p class="card-text">Acompanhe o Ranking</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}